MONGODB_URI
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_FAST_API_BASE_URL
NEXT_PUBLIC_ELYSIA_BASE_URL
NEXT_PUBLIC_EXPRESS_BASE_URL
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
NEXTAUTH_URL