.tab {
  &:not(
      :checked,
      label:has(:checked),
      :hover,
      .tab-active,
      [aria-selected="true"]
    ) {
    color: var(--color-black-100);
  }
}

.tabs-border {
  & .tab {
    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked),
    &:is(label:has(:checked)) {
      &:before {
        color: var(--secondary);
        scale: 1;
        transition: scale 0.3s ease;
      }
    }
  }
}
.tabs-border {
  & .tab {
    &:before {
      --tw-content: "";
      content: var(--tw-content);
      width: 25%;
      height: 3px;
      border-radius: var(--radius-field);
      bottom: 0;
      scale: 0;
      position: absolute;
    }
  }
}
