
@tailwind utilities;

@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Forum&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #031602;
  --secondary: #FF9000;
  
  --black-300: #566355; 
  --black-400: #354535;
  --orange-700: #B56600;
  --orange-300: #FFB554;


  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
    
  --font-figtree: 'Figtree',serif;
  --font-forum: 'Forum',sans-serif; 

}
@theme inline{

  --color-black-300: var(--black-300); 
  --color-black-400: var(--black-400);
  --color-orange-700: var(--orange-700);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans-serif: var(--font-figtree);
  --font-serif: var(--font-forum); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-gray-50) inset;
  box-shadow: 0 0 0px 1000px var(--color-gray-50) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

